﻿@model AcerCMS.Models.Comment

@if (ViewBag.Message != null)
{
    <div id="myId" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Message
    </div>
}

@using (Ajax.BeginForm("Create", "Comment", new AjaxOptions()
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Comments",
    LoadingElementId = "loading"   
}))
{
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

    @Html.HiddenFor(m=> m.Id)
    @Html.HiddenFor(m=> m.EntityId)
    @Html.HiddenFor(m=> m.Entity)
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorName, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.AuthorName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthorName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </div>
}

<hr />